# Entorno virtual
venv/
__pycache__/
*.pyc

# Variables de entorno (secrets)
.env

# Datos de Mongo en Docker (si usas volumen bind local)
mongo_data/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db